<p id="notice"><%= notice %></p>

<%= render 'search' %>

<h1>Listing books</h1>

<%= render 'list_book' %>
<table>
  <tr>
    <th>Title</th>
    <th>By</th>
    <th>Type</th>
<% if @is_current_user_admin  %>    
    <th></th>
    <th></th>
 <% end %>
 </tr>

<% @books.each do |book| %>
  <tr>
    <td><strong><%= link_to book.title, book %></strong></td>
    <td><%= book.author %></td>
    <td><%= book.book_type %></td>
 
<% if current_user && current_user.is_admin?  %>    
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if @is_current_user_admin  %>    
  <%= link_to 'New Book', new_book_path %>
<% end %>
