<!DOCTYPE html>
<html>
<head>
  <title>Book Show</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">	
		<div class="container">
			 	<%= link_to "Book Show", :root, class: "brand" %>
			 	<div  id="main-menu"> <!-- class="nav-collapse collapse" -->
			 		<ul class="nav">
			 			<li class=""><a href="/">Home</a></li>
			 			<li><%= link_to "Ratings",books_ratings_path %></li>
			 		</ul>
					<%= render partial: '/layouts/shared/user_bar' %>
				</div>
		</div>
	</div>
</div>

	<%= render partial: '/layouts/shared/flash_display', locals: {notice: notice, alert: alert} %>

<div class="container">
	<br/>
	<%= yield %>
</div>

</body>
</html>
