<!DOCTYPE html>
<html>
<head>
  <title>Book Club</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<A NAME="TOP"><A>
<div class="navbar navbar-fixed-top">	
   <div class="navbar-inner">	
		<div class="container">
			 	<%= link_to "Book Club", :root, class: "brand" %>
			 	<div  id="main-menu"> <!-- class="nav-collapse collapse" -->
			 		<ul class="nav">
			 			<li class=""><a href="/">Home</a></li>
			 			<li><%= link_to "Ratings",books_ratings_path %></li>

						<% if (current_user && current_user.is_admin?) %>
				              <li><%= link_to "Admin", users_path %></li>
					  	<% end %>

			 		</ul>
					<%= render partial: '/layouts/shared/user_bar' %>
				</div>
		</div>
	</div>
</div>

<%= render partial: '/layouts/shared/flash_display', locals: {notice: notice, alert: alert} %>
<div class="container">
  <br/>
  <%= yield %>
</div>
<br/>
<%= render "/layouts/shared/footer" %>

</body>
</html>
